:root {
    --primary: #ff6b00;
    --secondary: #005f39;
    --light: #f8f9fa;
    --dark: #212529;
    --gray: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 120px; /* Espaço para o header */
}